#container1 {
    height: 100%;
    width: 100%;
    position: relative;
}
 @font-face {
    font-family: myFirstFont;
    src: url(font/8bit.ttf);
}
#map {
	height: 400px;
	width: 100%;
	 border: 1px solid black; 
   }
.button {
	
    background-color: #330f53;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
html *{
	font-family: myFirstFont;
	 
}
#container2 {
    padding: 2em;
}

#container2::after {
    display: block;
    clear: both;
    content: "";
    border:15px;
}
html, body {
    height: 99%; 
}
body {   
    background-size: 100% 100%; 
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/cb/85/81/cb85814e60eb84d94da2eac5cc3246ee.png);
    background-color: #cccccc;
    position: static;
	overflow-y: scroll;
	overflow-x: hidden;
  }
 .tiv {	
	height:150px;
	width:150px;
	float: left;
	position: relative;
}
.BigText{
	font-size:20px;
	
	
	
}
 .tiv img{
	 box-shadow:5px 3px 5px black;
	 width:100%;
	 height:100%;
	position: absolute;
	margin:2px;
	padding:2px;
    border: 1px solid purple; 
	max-height:140px;
	max-width:140px;
		/* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
	/* Standard */
	transition: all 1s ease;
}
 .tiv img:hover{
	      border-color:transparent;	 
 }
 .tiv img:active {
  	/* Firefox */
	-moz-transform: scale(2) rotate(30deg) translate(50px);
	/* WebKit */
	-webkit-transform: scale(2) rotate(30deg) translate(50px);
	/* Opera */
	-o-transform: scale(2) rotate(30deg) translate(50px);
	/* Standard */
	transform:scale(2) rotate(30deg) translate(50px);
	z-index: 1000;
} 
  .tiv:nth-of-type(2n) img:active {
  	/* Firefox */
	-moz-transform: scale(2) rotate(-30deg) translate(-50px);
	/* WebKit */
	-webkit-transform: scale(2) rotate(-30deg) translate(-50px);
	/* Opera */
	-o-transform: scale(2) rotate(-30deg) translate(-50px);
	/* Standard */
	transform:scale(2) rotate(-30deg) translate(-50px);	
	z-index: 1000;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: purple;
    color: black;
    text-align: center;
    border-radius: 6px;   
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tiv:nth-of-type(2n) .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: purple;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tiv:active .tooltiptext{	
	opacity:0;
}
.tiv:hover .tooltiptext {
   visibility: visible;
}
header {
	text-align:center;
}