/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Νοε 2016, 11:28:53 μμ
    Author     : nubie
*/
body {
    background-image: url("palm.jpg");
    background-color: #cccccc;
    height: 100%;
    width:100%;
}
@font-face {
    font-family: myFirstFont;
    src: url(8bit.ttf);
}

input[type=button]{

    background-color: #A22879;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
label[for=username]{
    text-align:center;
}
body *{
    font-family: myFirstFont;
    font-size:10px;
}
textarea{
    font-size:9px;
}


div.container {
    position: relative;
    float: left;
    bottom: 0;
    margin-left: 0%;
    margin-right: 20%;
    width: 13%;
    margin-bottom: 0px;
    margin-top: 0px;
}

div.leftdiv { 
    position: relative;
    float: left;
    bottom: 0;
    margin-left: 1%;
    margin-right: 5%;
    width: 10%;
    margin-bottom: 0px;
    margin-top: 0px;
}

div.rightdiv { 
    position: relative;
    float: left;
    bottom: 0;
    margin-left: 0%;
    margin-right: 0%;
    width: 50%;
    margin-bottom: 0px;
    margin-top: 0px;
}

div.container3{
    position: relative;
    float: left;
    bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    margin-bottom: 0px;
    margin-top: 0px;
}