#list3 {float:left;list-style-type: none;
list-style-image: none; }
#list3 ul {   font-size:18px; list-style-type: none;
list-style-image: none;}
#list3 ul li { line-height:32x;list-style-type: none;
list-style-image: none;  }
   body {   
    background-size: 100% 100%;
    background-repeat: no-repeat; background-image: url("https://s-media-cache-ak0.pinimg.com/originals/cb/85/81/cb85814e60eb84d94da2eac5cc3246ee.png");
    background-color: #cccccc;
	position:static;}




.item img {
	 vertical-align: middle;
 
  
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.item:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
 transform:scale(1.5) rotate(360deg); /* Remember vendor prefixes! */
}



 
#list {  }
#list ul { list-style:none; }
#list ul li { font-family:Georgia,serif,Times; font-size:18px; }
#list ul li a { display:block; width:300px; height:28px; background-color:#333; border-left:5px solid #222; border-right:5px solid #222; padding-left:10px;
	text-decoration:none; color:#bfe1f1; }
#list ul li a:hover {  -moz-transform:rotate(-5deg); -moz-box-shadow:10px 10px 20px #000000;
	-webkit-transform:rotate(-5deg); -webkit-box-shadow:10px 10px 20px #000000;
	transform:rotate(-5deg); box-shadow:10px 10px 20px #000000; }

.row-fluid {
	columns: 2 8em;
}	
	
	
	/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}#clear {
    clear: both;
}


 


.gal-5 li:target {
	     position:absolute; 
    transform:scale(1.5);
    z-index:2;
    opacity:1;
}

.gal-5 li:target img {   

    box-shadow:5px 3px 5px rgba(0, 0, 0, 0.3);
}

.gal-5 .close {  
    display:none;
    /* other presentational styles */
}

.gal-5 li:target .close {  
    display:inline;
}


