#list3 {
    list-style-type: none;
    list-style-image: none;
}
#list3 ul {
    font-size: 18px;
    list-style-type: none;
    list-style-image: none;
}
#list3 ul li {
    line-height: 32x;
    list-style-type: none;
    list-style-image: none;
    font-size: 14px;
}
/* # is refered to id=list3 only */
.list-img li figure{
	
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
@font-face {
    font-family: myFirstFont;
    src: url(8bit.ttf);
}
html * {
    font-family: myFirstFont;
}
html,
body,
#container {
    height: 100%;
}
body > #container {
    height: auto;
    min-height: 100%;
}
nav li {
    color: white;
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
body {
    background-size: 100% 100%;
    background-image: url("imgs/back.png");
    background-size: cover;
    background-color: #cccccc;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
article div ul li {
    font-size: 20px;
    font-weight: bold;
}
table#t01 tr:nth-child(even) {
    background-color: #a570a3;
    font-weight: bold;
}
table#t01 tr:nth-child(odd) {
    background-color: #8d70a5;
    font-weight: bold;
}
table#t01 th {
    background-color: black;
    color: white;
}
li {
    font-size: 16px;
}
lul {
    display: inline;
    float: left;
}
h1 {
    color: purple;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
h2 {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
h3 {
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}
h4 {
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}
h5 {
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}
h6 {
    font-weight: bold;
    font-size: 24px;
}
p {
    font-size: 16px;
    text-indent: 25px;
}
footer,
header {
    background: transparent;
}
header {}
/* general code */

section {
    float: left;
    color: #190729;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -2em;
    text-align: center;
}
article {
    width: 50%;
    position: relative;
    display: inline-block;
}
aside {
    width: 50%;
    text-align: center;
    float: right;
}
.list-img li:active figcaption{
    opacity: 0;
}


.list-img img {
    border-radius: 6px;
	height:500px;
	width:500px;
}
.item {
    height: 32px;
    width: 32px;
}
.item img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.item:hover img {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3) rotate(360deg);
    /* Remember vendor prefixes! */
}
.list-img li:active {
    transform: scale(1.2);
    z-index: 2;
    opacity: 1;
}
.list-img li:active img {
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}
.list-img li {
    list-style-type: none;
}
 
@media (min-width: 1024px) {
    article {
        width: 50%;
        display: inline-block;
        clear: both;
    }
    section {
        width: 50%;
        float: left;
        clear: both;
        height: auto;
        color: #190729;
    }
 
    aside {
        clear: both;
        text-align: center;
    }
	   .list-img li:active {
        transform: scale(1.2);
        z-index: 2;
        opacity: 1;
    }
	  .list-img li img {
       
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 320.1px) and (max-width: 480px) { 
    
	
article {
        float: left;
        position: relative;
    }
    aside {
        float: left;
        position: relative;
    }
    section {
        float: left;
        position: relative;
    }
    a,
    td,
    th {
        font-weight: normal;
        font-size: 14px;
    }
    figcaption {
		
        width: 200px;
        font-size: 12px;
    }
    .list-img li img {
     
        width: 200px;
        height: 200px;
    }
	
	
    .list-img li:active {
        transform: scale(1.3);
        z-index: 2;
        opacity: 1;
    }
    footer {
        position: relative;
        float: left;
        text-align: center;
    }
}


	@media (max-width: 320px) {
	iframe{
		height:200px;
		width:200px;
	}
	
	
    #list3 {
        list-style-type: none;
        list-style-image: none;
    }
    #list3 ul {
        font-size: 18px;
        list-style-type: none;
        list-style-image: none;
    }
    #list3 ul li {
        line-height: 16x;
        list-style-type: none;
        list-style-image: none;
        font-size: 20px;
    }
    /* # is refered to id=list3 only */
    
    article {
        float: left;
        position: relative;
    }aside {
    width: 100%;
    text-align: center;
    float: left;
}
    section {
        float: left;
        position: relative;
    }
    footer {
        position: relative;
        float: left;
        text-align: center;
    }
    a,
    td,
    th {
        font-weight: normal;
        font-size: 12px;
    }
     figcaption {
        width: 200px;
        font-size: 10px;
    }
    .list-img li img {
        left: 0px;
        width: 200px;
        height: 200px;
    }
    .list-img li:active {
        transform: scale(1.1);
        z-index: 2;
        opacity: 1;
    }
	.list-img li:active #footer{

	figure{
		
	}
}
